<div id="main">
<h1 id="clock"><%= @current_time %></h1>
<h2 id= "date"><%= @current_date %></h2>
<p id="greeting"><%= @greet_message %></p>
<!-- Can reference by id with CSS or to break up project -->
</div>