<div id="footer">
 &copy; <%= Time.now.year %> Kelly Baumann
-
  <a href= "https://github.com/kabaumann/on-Rails" target = "_blank">
<%= fa_icon "github", text: "Take a look at my source code!" %>
  </a>
  </div>
